* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
}

body {
    margin:0;
    width: 100%;
    height: auto;
    font-family: 'Vidaloka', serif;
    font-size: 16px;
  }

h2{
    color: rgb(241, 245, 236);
    font-family: 'Bebas Neue', cursive;
    font-size: 31px;
}

h1, h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Bebas Neue', cursive;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1em;
}

button{
    position: relative;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

  img{
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 220px;
}

/* Header Content */

header{
    height: 80px;
    width: 100%;
    display: flex;
    border: rgb(100, 98, 98);
    border-bottom-style: solid;
    border-width: 3px;
    background-color: #587B7F;
}

.headerTitle{
    position: relative;
    flex-grow: 2;
    width: 220px;
    padding: 20px;
}

.headerCounter{
    position: relative;
    width: 220px;
    padding: 20px;
}

/* Start Box Content */

.startBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quiz Box Content */

.quizBox{
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizBox fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
  }

.quizBox input[type="radio"],
.quizBox input[type="radio"]+label {
  display: inline-block;   
  width: auto;
  margin-top: .35rem;
}

.quizBox label {
    display: block;
    margin-top: .7rem;
}

.quizBox label.question {
    margin-top: 1rem;
}
  
.quizBox input, .quiz-box select {
    display: block;
    width: 15.5rem;
    margin-top: 5px;
}

.quizBox button {
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin-top: 1.5rem;
}

.quizBox fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
    justify-content: center;
    margin-top: 50px;
}

.questionText{
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}

.questionBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Content */

footer{
    border: rgb(100, 98, 98);
    border-top-style: solid;
    border-width: 3px;
    background-color: #394032;
    height: 100%;
}

.questionCounter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: rgb(245, 245, 245);
}

/* Working */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    .startBox {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
    }

    .quizBox {
        width: 100%;
        height: auto;
    }

    .questionBox {
        margin-top: 5px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .questionText {
        font-size: 30px;
    }

    button {
        position: relative;
        font-size: 20px;
    }

    h2 {
        font-size: 24px;
    }

    .questionCounter {
        font-size: 28px;
    }

    .response {
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    header{
        width: 100%;
        display: flex;
    }

    .headerTitle{
        width: 420px;
    }

    img{
        width: 180px;
        height: auto;
    }

    .quizBox fieldset {
        margin-top: 0px;
    }

    .final{
        width: 100%;
        height: 500px;
    }

    h3{
        font-size: 34px;
    }

}